.formContainer {
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 345px;
    max-height: 350px;
    font-style: italic;
    background: rgb(237, 239, 245) !important;
    background: linear-gradient(270deg, rgba(237, 239, 245, 1) 0%, rgba(162, 142, 233, 1) 100%, rgba(240, 240, 240, 1) 100%) !important;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 60%) !important;
}

.form {
    display: flex;
    flex-direction: column;
}

.textField {
    margin: 5px 0 !important;
    padding: 10px !important;
    border-radius: 5px;
    border: 1px lightblue solid;
    background: whitesmoke;
    box-shadow: 0 5px 5px 5px rgb(255 255 255 / 60%) !important;
}

.form > button {
    margin-left: auto;
    margin-top: 5px;
    box-shadow: 0 3px 3px 3px rgb(0 0 0 / 40%) !important;
}
