.imageContainer {
    height: 100%;
    width: 100%;
    background-image: url("https://img.wallpapersafari.com/tablet/768/1024/2/48/7XbFUq.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imageContainer > h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.imageContainer > p {
    margin: 5px 20px;
}

.imageContainer > button {
    cursor: pointer;
    font-size: 1rem;
    color: #010c15;
    border: 1px lightblue solid;
    font-style: italic;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: rgba(64, 152, 237, 30%);
    box-shadow: 2px 3px 5px 2px rgb(255 255 255 / 70%);
}
