.imageContainer {
    height: 100%;
    width: 100%;
    background-image: url("https://img.wallpapersafari.com/tablet/768/1024/2/48/7XbFUq.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imageContainer > h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.imageContainer > p {
    margin: 5px 20px;
}

.imageContainer > a {
    text-decoration: none;
}
