.aboutContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.aboutContainer > a {
    background: linear-gradient(270deg, rgba(1, 21, 62, 1) 0%, rgba(207, 195, 250, 1) 99%, rgba(240, 240, 240, 1) 100%) !important;
    border: 1px lightblue solid;
    border-radius: 5px;
    padding: 10px 10px;
    margin-top: 20px;
    box-shadow: 0 5px 5px 5px rgb(0 0 0 / 60%) !important;
}
