.cardBox {
    margin: 5px;
    background: rgb(237, 239, 245) !important;
    background: linear-gradient(270deg, rgba(237, 239, 245, 1) 0%, rgba(162, 142, 233, 1) 100%, rgba(240, 240, 240, 1) 100%) !important;
    box-shadow: 0 5px 5px 2px rgb(0 0 0 / 70%) !important;
    border: 1px darkgray solid;
}
